/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';

html, body {
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.md-input-placeholder {
    color: $secondary-text-color;
}
