.app {
    display: block;
    height: 100%;
    padding: 5px 15px;
    width: 100%;
}

.app__left {
    display: inline-block;
    height: 100%;
    margin-right: 20px;
    vertical-align: top;
    width: 40%;
}

.app__right {
    display: inline-block;
    height: 100%;
    margin-right: 20px;
    vertical-align: top;
    width: calc(60% - 50px);
}