<div class="app">
<users-list class="app__left" (openUser)="openUser($event)"></users-list>
<user-info *ngIf="selectedUser" class="app__right" [user]="selectedUser" (CloseUser)="closeUser($event)"></user-info>
</div>