@import './../../../styles/_variables.scss';

a {
    text-decoration: none;
}

.search-widget {
    height: 50px;
    width: 100%;
}

.users-list {
    height: calc(100% - 60px);
    overflow: auto;
}

.name {
    color: $main-text-color;
}

.title {
    color: $secondary-text-color;
}