<search-widget (onChange)="filterUsers($event)" class="search-widget"></search-widget>
<md-list class="users-list">
    <md-list-item *ngFor="let user of usersList; let i = index" (click)="selectUser(i)">
        <img md-list-avatar src="{{ user.general.avatar }}" alt="User Photo">
        <h3 class="name" md-line> {{ user.general.firstName }} {{ user.general.lastName }} </h3>
        <p class="title" md-line>
            <span> {{user.job.title}} </span>
            <span> at {{user.job.company}} </span>
        </p>
    </md-list-item>
</md-list>