@import './../../../styles/_variables.scss';

.user {
    position: relative
}

.user__header {
    height: 130px;
}

.user__avatar {
    height: 128px;
    margin-right: 10px;
    width: 128px;

    @media all and (min-width: 920px) {
        margin-right: 20px;
    }
}

.user__name {
    color: $blue-text-color;
    font-size: 26px;
    line-height: 30px;
    margin-top: 10px;

    @media all and (min-width: 920px) {
        font-size: 36px;
        line-height: 36px;
        margin-top: 30px;
    }
}

.user__job {
    color: $blue-alternative-color;
}

.user__close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.user__label {
    color: $secondary-text-color;
}