<md-card class="user">
  <md-card-header class="user__header">
    <img md-card-avatar class="user__avatar" src="{{ user.general.avatar }}">
    <md-card-title class="user__name">{{ user.general.firstName }} {{ user.general.lastName }}</md-card-title>
    <md-card-subtitle class="user__job">{{ user.job.title }} at {{ user.job.company }}</md-card-subtitle>
    <button md-mini-fab class="user__close primary" (click)="closeUser()"><md-icon>clear</md-icon></button>
  </md-card-header>
  <md-card-content>
    <h4>Contact</h4>
    <p class="user__info">
        <span class="user__label">Phone: </span>
        <span class="user__value">{{ user.contact.phone }}</span>
    </p>
    <p class="user__info">
        <span class="user__label">Email: </span>
        <span class="user__value">{{ user.contact.email }}</span>
    </p>
    <h4>Address</h4>
    <p class="user__info">
        <span class="user__label">Street: </span>
        <span class="user__value">{{ user.address.street }}</span>
    </p>
    <p class="user__info">
        <span class="user__label">City: </span>
        <span class="user__value">{{ user.address.city }}</span>
    </p>
    <p class="user__info">
        <span class="user__label">ZIP code: </span>
        <span class="user__value">{{ user.address.zipCode }}</span>
    </p>
    <p class="user__info">
        <span class="user__label">Country: </span>
        <span class="user__value">{{ user.address.country }}</span>
    </p>
  </md-card-content>
</md-card>